openapi: 3.0.0
info:
  title: 健康管理小程序 API
  version: 1.0.0
  description: 供腾讯元器插件导入的 OpenAPI 文档（简化版）

servers:
  - url: "https://www.datewell.xyz"
    description: "生产环境 API 服务器"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: ok
        data:
          type: object
    ReminderAddRequest:
      type: object
      required: [userId, title, type, remindTime]
      properties:
        userId:
          type: integer
        title:
          type: string
        type:
          type: integer
          description: "1=运动,2=饮食,3=睡眠"
        content:
          type: string
        remindTime:
          type: string
          example: "2026-03-15 20:30:00"
    GoalAddRequest:
      type: object
      required: [userId, goalType, targetValue, period]
      properties:
        userId:
          type: integer
        goalType:
          type: integer
          description: "1=步数,2=睡眠,3=饮食热量"
        targetValue:
          type: number
        currentValue:
          type: number
        period:
          type: string
          example: day
    MedicationAddRequest:
      type: object
      required: [userId, drugName, dosage, frequency]
      properties:
        userId:
          type: integer
        drugName:
          type: string
        dosage:
          type: string
        frequency:
          type: string
        remindTime:
          type: string
          example: "08:00"
        startDate:
          type: string
          example: "2026-03-15"
    FamilyAddRequest:
      type: object
      required: [userId, name, relation]
      properties:
        userId:
          type: integer
        name:
          type: string
        relation:
          type: string
        age:
          type: integer
        conditionText:
          type: string

security:
  - bearerAuth: []

paths:
  /api/reminder/add:
    post:
      summary: 新增提醒
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReminderAddRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /api/goal/add:
    post:
      summary: 新增目标
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoalAddRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /api/medication/add:
    post:
      summary: 新增用药
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MedicationAddRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /api/family/add:
    post:
      summary: 新增家庭成员
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FamilyAddRequest"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
