target/
.idea/
.vscode/
*.iml
*.log
*.env
.DS_Store
**/application-local.yml
health-tracker-web/node_modules/
health-tracker-web/dist/
health-tracker-miniapp/node_modules/
health-tracker-miniapp/unpackage/
